@media (max-width: 500px) {
    header img {
        display: none;
    }
    header h1 {
        font-size: large;
    }
    header .welcomeMessage {
        font-size: small;
    }
    a {
        padding: 10px;
    }
    li {
        font-size: small;
        width: max-content;
        height: max-content;
        border-radius: 10px;
    }
    footer {
        display: none;
    }
    section {
        padding: 20px;
    }
    .fab,
    .fas {
        margin-right: 5px;
    }
}